In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('recent_beach_monitoring.csv')
df
#This are the results of beach monitoring for the months of May and June 2023

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations
0,21-Jun-23,RW-38,Muelle de Arecibo,18.479258,-66.700467,Route: 6: Arecibo - Vega Alta,Routine,74,28.1,8.01,NaN
1,21-Jun-23,RW-39,Mar Chiquita,18.472917,-66.485656,Route: 6: Arecibo - Vega Alta,Routine,10,28.9,8.09,NaN
2,21-Jun-23,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,Route: 6: Arecibo - Vega Alta,Routine,86,28.9,8.05,NaN
3,21-Jun-23,RW-17,Balneario Cerro Gordo or Javier Calderón Nieves,18.481250,-66.340656,Route: 6: Arecibo - Vega Alta,Routine,10,29.2,8.10/8.09,NaN
4,21-Jun-23,RW-18,Balneario Manuel “Nolo” Morales or Sardinera,18.474694,-66.280892,Route 1: Dorado - Loíza,Routine,10,28.1,8.24,NaN
...,...,...,...,...,...,...,...,...,...,...,...
108,8-May-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,10,29.9,8,NaN
109,8-May-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,<10,28.5,8.06,NaN
110,8-May-23,RW-5,Balneario de Rincón,18.340925,-67.256006,Route 5: Añasco - Aguadilla,Routine,30,28.3,8.09,NaN
111,8-May-23,RW-22,Pico de Piedra,18.384364,-67.212989,Route 5: Añasco - Aguadilla,Routine,<10,29.4,8.09,NaN
112,8-May-23,RW-16,Balneario Crash Boat,18.457667,-67.163778,Route 5: Añasco - Aguadilla,Routine,20,29.7,8.1,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              113 non-null    object
 1   beach_id                          113 non-null    object
 2   beach_name                        113 non-null    object
 3   latitude                          113 non-null    float64
 4   longitude                         113 non-null    float64
 5   sampling_route                    113 non-null    object
 6   sampling_type                     113 non-null    object
 7   enterococcus_colonies_per_100_mL  113 non-null    object
 8   temperature_celsius               113 non-null    float64
 9   pH                                113 non-null    object
 10  observations                      35 non-null     object
dtypes: float64(3), object(8)
memory usage: 9.8+ KB

In [4]:
# I want to create a datetime column.
df["monitoring_date"] = pd.to_datetime(df["date"])
df

/var/folders/mz/qr3tmjxn4r3_m9md_sh_nk9w0000gn/T/ipykernel_28765/3050945821.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["monitoring_date"] = pd.to_datetime(df["date"])

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
0,21-Jun-23,RW-38,Muelle de Arecibo,18.479258,-66.700467,Route: 6: Arecibo - Vega Alta,Routine,74,28.1,8.01,NaN,2023-06-21
1,21-Jun-23,RW-39,Mar Chiquita,18.472917,-66.485656,Route: 6: Arecibo - Vega Alta,Routine,10,28.9,8.09,NaN,2023-06-21
2,21-Jun-23,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,Route: 6: Arecibo - Vega Alta,Routine,86,28.9,8.05,NaN,2023-06-21
3,21-Jun-23,RW-17,Balneario Cerro Gordo or Javier Calderón Nieves,18.481250,-66.340656,Route: 6: Arecibo - Vega Alta,Routine,10,29.2,8.10/8.09,NaN,2023-06-21
4,21-Jun-23,RW-18,Balneario Manuel “Nolo” Morales or Sardinera,18.474694,-66.280892,Route 1: Dorado - Loíza,Routine,10,28.1,8.24,NaN,2023-06-21
...,...,...,...,...,...,...,...,...,...,...,...,...
108,8-May-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,10,29.9,8,NaN,2023-05-08
109,8-May-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,<10,28.5,8.06,NaN,2023-05-08
110,8-May-23,RW-5,Balneario de Rincón,18.340925,-67.256006,Route 5: Añasco - Aguadilla,Routine,30,28.3,8.09,NaN,2023-05-08
111,8-May-23,RW-22,Pico de Piedra,18.384364,-67.212989,Route 5: Añasco - Aguadilla,Routine,<10,29.4,8.09,NaN,2023-05-08
112,8-May-23,RW-16,Balneario Crash Boat,18.457667,-67.163778,Route 5: Añasco - Aguadilla,Routine,20,29.7,8.1,NaN,2023-05-08

In [5]:
# How many monitorings have been done during the last two months for each beach?
df.beach_id.value_counts()

beach_id
RW-38     4
RW-23     4
RW-32     4
RW-18     4
RW-19     4
RW-39     4
RW-30     4
RW-7      4
RW-15     3
RW-13     3
RW-14A    3
RW-12B    3
RW-22     3
RW-5      3
RW-37     3
RW-16     3
RW-33     3
RW-10     3
RW-9      3
RW-34     3
RW-8      3
RW-31     3
RW-1A     3
RW-2      3
RW-4      3
RW-6      3
RW-29     3
RW-21C    3
RW-28     3
RW-27     3
RW-26     3
RW-25A    3
RW-20A    3
RW-17     3
RW-36     3
Name: count, dtype: int64

In [6]:
df.beach_id.nunique()

35

In [8]:
# Sort by datetime
df = df.sort_values("monitoring_date", ascending=False)
df.head()

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
0,21-Jun-23,RW-38,Muelle de Arecibo,18.479258,-66.700467,Route: 6: Arecibo - Vega Alta,Routine,74,28.1,8.01,NaN,2023-06-21
11,21-Jun-23,RW-21C,Balneario de Carolina,18.445989,-66.003572,Route 1: Dorado - Loíza,Routine,20,29.4,8.23,NaN,2023-06-21
1,21-Jun-23,RW-39,Mar Chiquita,18.472917,-66.485656,Route: 6: Arecibo - Vega Alta,Routine,10,28.9,8.09,NaN,2023-06-21
20,21-Jun-23,RW-1A,Balneario La Monserrate,18.385592,-65.729472,Route 2: Arroyo - Luquillo,Routine,<10,29.6,8.11,NaN,2023-06-21
19,21-Jun-23,RW-32,Playa Azul,18.381867,-65.718458,Route 2: Arroyo - Luquillo,Routine,<10,29.5,8.13,NaN,2023-06-21

In [12]:
#Filter df to get the most recent date of monitoring for each beach
df_most_recent = df.groupby("beach_id").head(1)
df_most_recent.sort_values("beach_id").head()

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
31,20-Jun-23,RW-10,Playa Santa,17.937711,-66.955197,Route 3: Lajas - Salinas,Routine,31,30.0,8,NaN,2023-06-20
25,20-Jun-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,<10,30.2,8.17,NaN,2023-06-20
23,20-Jun-23,RW-13,Balneario de Boquerón,18.019442,-67.172244,Route 4: Cabo Rojo,Routine,10,30.1,8.25,NaN,2023-06-20
24,20-Jun-23,RW-14A,Playa Moja Casabe,17.985810,-67.214590,Route 4: Cabo Rojo,Routine,<10,29.9,8.2,NaN,2023-06-20
26,20-Jun-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,97,29.4,7.94,NaN,2023-06-20

In [10]:
df_most_recent.beach_id.nunique()

35

In [31]:
#Filter df to get the second to most recent date of monitoring for each beach
#df_2nd_most_recent = df.sort_values('monitoring_date', ascending=False).groupby('beach_id').nth(1)
df_2nd_most_recent = df.groupby('beach_id').nth(1)
df_2nd_most_recent.sort_values('monitoring_date', ascending=False)

df_2nd_most_recent.head()

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
38,30-May-23,RW-19,Balneario Punta Salinas,18.471658,-66.185994,Route 1: Dorado - Loíza,Routine,<10,29.4,Re-sampling,NaN,2023-05-30
40,30-May-23,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,Route: 6: Arecibo - Vega Alta,Routine,10,28.5,Re-sampling,NaN,2023-05-30
39,30-May-23,RW-32,Playa Azul,18.381867,-65.718458,Route 2: Arroyo - Luquillo,Routine,10,27.0,Re-sampling,NaN,2023-05-30
37,30-May-23,RW-18,Balneario Manuel “Nolo” Morales or Sardinera,18.474694,-66.280892,Route 1: Dorado - Loíza,Routine,<10,29.9,Re-sampling,NaN,2023-05-30
36,30-May-23,RW-39,Mar Chiquita,18.472917,-66.485656,Route: 6: Arecibo - Vega Alta,Routine,<10,28.2,Re-sampling,NaN,2023-05-30

In [32]:
df_2nd_most_recent.beach_id.nunique()

35

In [20]:
#Add columns of enterococcus_colonies_per_100_mL result 
#for the previous date when a sample was taken and the date
#First sort each df by beach id
df_most_recent = df_most_recent.sort_values(by='beach_id')
df_most_recent.head()

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
31,20-Jun-23,RW-10,Playa Santa,17.937711,-66.955197,Route 3: Lajas - Salinas,Routine,31,30.0,8,NaN,2023-06-20
25,20-Jun-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,<10,30.2,8.17,NaN,2023-06-20
23,20-Jun-23,RW-13,Balneario de Boquerón,18.019442,-67.172244,Route 4: Cabo Rojo,Routine,10,30.1,8.25,NaN,2023-06-20
24,20-Jun-23,RW-14A,Playa Moja Casabe,17.985810,-67.214590,Route 4: Cabo Rojo,Routine,<10,29.9,8.2,NaN,2023-06-20
26,20-Jun-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,97,29.4,7.94,NaN,2023-06-20

In [21]:
df_2nd_most_recent = df_2nd_most_recent.sort_values(by='beach_id')
df_2nd_most_recent.head()

,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
50,24-May-23,RW-10,Playa Santa,17.937711,-66.955197,Route 3: Lajas - Salinas,Routine,10,27.5,8.04,resultado preliminar,2023-05-24
58,23-May-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,10,29.8,8.16,resultado preliminar,2023-05-23
56,23-May-23,RW-13,Balneario de Boquerón,18.019442,-67.172244,Route 4: Cabo Rojo,Routine,<10,29.2,8.18,resultado preliminar,2023-05-23
57,23-May-23,RW-14A,Playa Moja Casabe,17.985810,-67.214590,Route 4: Cabo Rojo,Routine,<10,29.8,8.2,resultado preliminar,2023-05-23
59,23-May-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,<10,29.8,8.06,resultado preliminar,2023-05-23

In [49]:
type(df_most_recent)
df_most_recent.head()

,index,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
0,31,20-Jun-23,RW-10,Playa Santa,17.937711,-66.955197,Route 3: Lajas - Salinas,Routine,31,30.0,8,NaN,2023-06-20
1,25,20-Jun-23,RW-12B,Playa el Combate,17.974794,-67.212906,Route 4: Cabo Rojo,Routine,<10,30.2,8.17,NaN,2023-06-20
2,23,20-Jun-23,RW-13,Balneario de Boquerón,18.019442,-67.172244,Route 4: Cabo Rojo,Routine,10,30.1,8.25,NaN,2023-06-20
3,24,20-Jun-23,RW-14A,Playa Moja Casabe,17.985810,-67.214590,Route 4: Cabo Rojo,Routine,<10,29.9,8.2,NaN,2023-06-20
4,26,20-Jun-23,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,Route 5: Añasco - Aguadilla,Routine,97,29.4,7.94,NaN,2023-06-20

In [52]:
type(df_2nd_most_recent)
df_2nd_most_recent = df_2nd_most_recent.reset_index()

df_2nd_most_recent.head()

,index,date,beach_id,beach_name,latitude,longitude,sampling_route,sampling_type,enterococcus_colonies_per_100_mL,temperature_celsius,pH,observations,monitoring_date
0,38,30-May-23,RW-19,Balneario Punta Salinas,18.471658,-66.185994,Route 1: Dorado - Loíza,Routine,<10,29.4,Re-sampling,NaN,2023-05-30
1,40,30-May-23,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,Route: 6: Arecibo - Vega Alta,Routine,10,28.5,Re-sampling,NaN,2023-05-30
2,39,30-May-23,RW-32,Playa Azul,18.381867,-65.718458,Route 2: Arroyo - Luquillo,Routine,10,27.0,Re-sampling,NaN,2023-05-30
3,37,30-May-23,RW-18,Balneario Manuel “Nolo” Morales or Sardinera,18.474694,-66.280892,Route 1: Dorado - Loíza,Routine,<10,29.9,Re-sampling,NaN,2023-05-30
4,36,30-May-23,RW-39,Mar Chiquita,18.472917,-66.485656,Route: 6: Arecibo - Vega Alta,Routine,<10,28.2,Re-sampling,NaN,2023-05-30

In [53]:
#Create a new df, called working df with the info I need from each df


working_df = pd.DataFrame()
working_df['beach_id'] = df_most_recent['beach_id']
working_df['beach_name'] = df_most_recent['beach_name']
working_df['latitude'] = df_most_recent['latitude']
working_df['longitude'] = df_most_recent['longitude']
working_df['last_sample_date'] = df_most_recent['monitoring_date']
working_df['last_sample_result'] = df_most_recent['enterococcus_colonies_per_100_mL']
working_df['previous_sample_date'] = df_2nd_most_recent['monitoring_date']
working_df['previous_sample_result'] = df_2nd_most_recent['enterococcus_colonies_per_100_mL']


working_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
0,RW-10,Playa Santa,17.937711,-66.955197,2023-06-20,31,2023-05-30,<10
1,RW-12B,Playa el Combate,17.974794,-67.212906,2023-06-20,<10,2023-05-30,10
2,RW-13,Balneario de Boquerón,18.019442,-67.172244,2023-06-20,10,2023-05-30,10
3,RW-14A,Playa Moja Casabe,17.985810,-67.214590,2023-06-20,<10,2023-05-30,<10
4,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,2023-06-20,97,2023-05-30,<10

In [57]:
#To check which beaches are over the Beach Action Value in the last sample result
#First, convert the values under the result columns to integers
#As an editorial decision, we'll convert the <10 values to 5, the average between 0 and 10,
#just to be able to do calculations in the columns.
#In the graphics we'll specify it is <10.
working_df["last_sample_result"] = working_df["last_sample_result"].str.replace("510", "5")
working_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
0,RW-10,Playa Santa,17.937711,-66.955197,2023-06-20,31,2023-05-30,<10
1,RW-12B,Playa el Combate,17.974794,-67.212906,2023-06-20,5,2023-05-30,10
2,RW-13,Balneario de Boquerón,18.019442,-67.172244,2023-06-20,10,2023-05-30,10
3,RW-14A,Playa Moja Casabe,17.985810,-67.214590,2023-06-20,5,2023-05-30,<10
4,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,2023-06-20,97,2023-05-30,<10

In [58]:
working_df["previous_sample_result"] = working_df["previous_sample_result"].str.replace("<10", "5")
working_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
0,RW-10,Playa Santa,17.937711,-66.955197,2023-06-20,31,2023-05-30,5
1,RW-12B,Playa el Combate,17.974794,-67.212906,2023-06-20,5,2023-05-30,10
2,RW-13,Balneario de Boquerón,18.019442,-67.172244,2023-06-20,10,2023-05-30,10
3,RW-14A,Playa Moja Casabe,17.985810,-67.214590,2023-06-20,5,2023-05-30,5
4,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,2023-06-20,97,2023-05-30,5

In [85]:
working_df["last_sample_result"] = working_df["last_sample_result"].replace(2224, 224)

In [86]:
#Turn the strings under the results columns into integers.
working_df["last_sample_result"] = working_df["last_sample_result"].astype(int)
working_df["previous_sample_result"] = working_df["previous_sample_result"].astype(int)
working_df.dtypes

beach_id                          object
beach_name                        object
latitude                         float64
longitude                        float64
last_sample_date          datetime64[ns]
last_sample_result                 int64
previous_sample_date      datetime64[ns]
previous_sample_result             int64
dtype: object

In [87]:
#Which beaches are over the Beach Action Value in the last sample result?
#Beaches that had a value of over 70.
working_df[working_df.last_sample_result > 70]

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
4,RW-15,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,2023-06-20,97,2023-05-30,5
5,RW-16,Balneario Crash Boat,18.457667,-67.163778,2023-06-20,683,2023-05-30,10
11,RW-20A,Balneario El Escambrón,18.467236,-66.089958,2023-06-21,350,2023-05-24,51
13,RW-22,Pico de Piedra,18.384364,-67.212989,2023-06-20,224,2023-05-24,52
14,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,2023-06-21,86,2023-05-24,20
19,RW-29,Vacía Talega,18.447858,-65.906231,2023-06-21,259,2023-05-23,5
21,RW-31,Tropical Beach,18.186928,-65.725967,2023-06-21,482,2023-05-23,5
27,RW-38,Muelle de Arecibo,18.479258,-66.700467,2023-06-21,74,2023-05-22,10
30,RW-5,Balneario de Rincón,18.340925,-67.256006,2023-06-20,823,2023-05-22,5
31,RW-6,Balneario de Patillas,17.973975,-65.988981,2023-06-21,75,2023-05-22,10

In [107]:
beaches_exceeding_BAV_df = working_df[working_df.last_sample_result > 70]
beaches_exceeding_BAV_df = beaches_exceeding_BAV_df.sort_values("previous_sample_result", ascending = False)
beaches_exceeding_BAV_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
13,RW-22,Pico de Piedra,18.384364,-67.212989,2023-06-20,224,2023-05-24,52
11,RW-20A,Balneario El Escambrón,18.467236,-66.089958,2023-06-21,350,2023-05-24,51
14,RW-23,Balneario de Puerto Nuevo,18.491367,-66.399044,2023-06-21,86,2023-05-24,20
5,RW-16,Balneario Crash Boat,18.457667,-67.163778,2023-06-20,683,2023-05-30,10
31,RW-6,Balneario de Patillas,17.973975,-65.988981,2023-06-21,75,2023-05-22,10

In [89]:
working_df[working_df.last_sample_result > 70].count()

beach_id                  10
beach_name                10
latitude                  10
longitude                 10
last_sample_date          10
last_sample_result        10
previous_sample_date      10
previous_sample_result    10
dtype: int64

In [90]:
#Which beaches were over the Beach Action Value in the previous sample result?
#Beaches that had a value of over 70.
working_df[working_df.previous_sample_result > 70]

Empty DataFrame
Columns: [beach_id, beach_name, latitude, longitude, last_sample_date, last_sample_result, previous_sample_date, previous_sample_result]
Index: []

In [69]:
#In a period of two weeks, 10 beaches exceeded the Beach Action Value, the EPA’s most protective benchmark for swimmer safety.

In [91]:
working_df.to_csv('cleaned_beach_monitoring.csv')

In [99]:
#For the first graph, I want to visualize the variation from one monitoring to another for 
#10 beaches that in the last sample exceeded de Beach Action Value. 
#This will be the csv I'll upload to Datawrapper. I'll only need the name of the beach, 
#the las sample result and the previous sample result columns.

#First sort by last_sample_result

working_df = working_df.sort_values("last_sample_result", ascending=False)
working_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
30,RW-5,Balneario de Rincón,18.340925,-67.256006,2023-06-20,823,2023-05-22,5
5,RW-16,Balneario Crash Boat,18.457667,-67.163778,2023-06-20,683,2023-05-30,10
21,RW-31,Tropical Beach,18.186928,-65.725967,2023-06-21,482,2023-05-23,5
11,RW-20A,Balneario El Escambrón,18.467236,-66.089958,2023-06-21,350,2023-05-24,51
19,RW-29,Vacía Talega,18.447858,-65.906231,2023-06-21,259,2023-05-23,5

In [108]:
graph_1_df = beaches_exceeding_BAV_df.drop(['beach_id', 'latitude', 'longitude', 'last_sample_date', 'previous_sample_date'], axis=1).reset_index(drop=True)

In [109]:
graph_1_df

,beach_name,last_sample_result,previous_sample_result
0,Pico de Piedra,224,52
1,Balneario El Escambrón,350,51
2,Balneario de Puerto Nuevo,86,20
3,Balneario Crash Boat,683,10
4,Balneario de Patillas,75,10
5,Muelle de Arecibo,74,10
6,Balneario de Rincón,823,5
7,Tropical Beach,482,5
8,Vacía Talega,259,5
9,Balneario de Añasco or Balneario Tres Hermanos,97,5

In [110]:
graph_1_df.to_csv('graph_1.csv', index = False)

In [111]:
working_df.head()

,beach_id,beach_name,latitude,longitude,last_sample_date,last_sample_result,previous_sample_date,previous_sample_result
30,RW-5,Balneario de Rincón,18.340925,-67.256006,2023-06-20,823,2023-05-22,5
5,RW-16,Balneario Crash Boat,18.457667,-67.163778,2023-06-20,683,2023-05-30,10
21,RW-31,Tropical Beach,18.186928,-65.725967,2023-06-21,482,2023-05-23,5
11,RW-20A,Balneario El Escambrón,18.467236,-66.089958,2023-06-21,350,2023-05-24,51
19,RW-29,Vacía Talega,18.447858,-65.906231,2023-06-21,259,2023-05-23,5

In [117]:
#For the map, I need
mapviz_df = working_df.drop(['beach_id', 'last_sample_date', 'previous_sample_date', 'previous_sample_result'], axis=1)
mapviz_df.to_csv('map.csv', index = False)

In [118]:
mapviz

,beach_name,latitude,longitude,last_sample_result
30,Balneario de Rincón,18.340925,-67.256006,823
5,Balneario Crash Boat,18.457667,-67.163778,683
21,Tropical Beach,18.186928,-65.725967,482
11,Balneario El Escambrón,18.467236,-66.089958,350
19,Vacía Talega,18.447858,-65.906231,259
13,Pico de Piedra,18.384364,-67.212989,224
4,Balneario de Añasco or Balneario Tres Hermanos,18.287997,-67.193922,97
14,Balneario de Puerto Nuevo,18.491367,-66.399044,86
31,Balneario de Patillas,17.973975,-65.988981,75
27,Muelle de Arecibo,18.479258,-66.700467,74
20,Playa Guayanés,18.062694,-65.819194,31
8,Balneario Punta Salinas,18.471658,-66.185994,31
29,Balneario Punta SantiAug,18.158414,-65.755186,31
0,Playa Santa,17.937711,-66.955197,31
32,Balneario Punta Guilarte,17.962042,-66.040000,30
12,Balneario de Carolina,18.445989,-66.003572,20
18,Playa El Alambique,18.444092,-66.022150,20
28,Mar Chiquita,18.472917,-66.485656,10
26,Villa Lamela,18.064533,-67.197528,10
23,Playita Rosada,17.971717,-66.031500,10
34,Caña Gorda,17.952531,-66.884561,10
15,Playa Sixto Escobar,18.466731,-66.086667,10
7,Balneario Manuel “Nolo” Morales or Sardinera,18.474694,-66.280892,10
6,Balneario Cerro Gordo or Javier Calderón Nieves,18.481250,-66.340656,10
2,Balneario de Boquerón,18.019442,-67.172244,10
1,Playa el Combate,17.974794,-67.212906,5
22,Playa Azul,18.381867,-65.718458,5
16,Playita del Condado,18.461131,-66.082408,5
24,Playa Cabullón,17.969283,-66.602728,5
25,Balneario de Salinas,17.977589,-66.332497,5
10,Balneario Seven Seas,18.369267,-65.636072,5
9,Balneario La Monserrate,18.385592,-65.729472,5
3,Playa Moja Casabe,17.985810,-67.214590,5
33,Playa Buyé,18.048872,-67.198625,5
17,Ocean Park,18.453011,-66.048881,5